.brand-logo {
	font-size: 90px;
	font-weight: bolder;
	color: #fff8e1; 
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}
#menuRestaurant{
	color: blue;

}
#food{
	margin-right: 15px;
	color: white;
	background-color:;
}
#location{
	margin-right: 20px;
	color: white;
}
#search {
	margin-top: 10px;
}
.container-fluid {
	border: ;
	border-color: ;
}
#leftColumn {
	border:;
	border-color: ;
}
#rightColumn {
	border: ;
	border-color: ;
}

body {
	background-image: url("foodtopia.jpg");

}
