.jumbotron {
	background-color: #4ABDAC;
}
.brand-logo {
	background-color: #b2dfdb;
	opacity: ; 
	font-size: 90px;
	font-weight: bolder;
	color: #fff8e1; 
	text-shadow:
   -1px -1px 0 #FC4A1A,  
    1px -1px 0 #004d40,
    -1px 1px 0 #00796b,
     1px 1px 0 #00695c;

}
#instructions{
	font-family: ;
	font-size: 25px;
	background-color:#b2dfdb ;
	color: #fff8e1;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}
#menuRestaurant{
	color: blue;

}
#food{
	margin-top: 20px;
	margin-right: 15px;
	color: #FC4A1A;
	background-color:;
}
#location{
	margin-top: 20px;
	margin-right: 20px;
	color: #FC4A1A;
}
#search {
	margin-top: 20px;
}
.container-fluid {
	border: ;
	border-color:;
}
#leftColumn {
	border:;
	border-color: #FC4A1A;
}
#rightColumn {
	border: ;
	border-color: ;
}
#recipeImage{
	border: solid;
	border-width: 1px;
	border-color: #4ABDAC;
}
#menuRestaurant{
	font-size: 25px;
}
h5{
	color:;
}

body {
	background-color:#4ABDAC;
	/*background-image: url("foodtopia.jpg");*/

}
