.brand-logo {
	font-size: 90px; 
}
#food{
	margin-right: 15px;
}
#location{
	margin-right: 20px;
}
#search {
	margin-top: 10px;
}
.container-fluid {
	border: 5px solid;
	border-color: lightblue;
}
#leftColumn {
	border: 2px solid;
	border-color: black;
}
#rightColumn {
	border: 2px solid;
	border-color: black;
}
